/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.statementContainer {
  padding: 1rem 15rem 0 15rem;
  margin: 0 1rem 0 1rem;
  text-align: justify;
  text-align-last: center;
  text-justify: auto;
}

.aboutContainer {
  padding: 0 15rem 0 15rem;
  margin: 0 1rem 3rem 1rem;
  text-align: justify;
  text-align-last: center;
  text-justify: auto;
}

.pandora {
  max-width: 150px;
}

.avatar {
  max-width: 125px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
